/* For theme: Twenty Eleven
----------------------*/

/* Brighter background makes SVG arrows visible */
body {
  background: white; /* #f8f8f8; */
}
/* Comment borders and backgrounds no longer needed to indicate how
comments relate to each other. Arrows used instead. */
.commentlist > li.comment,
.commentlist .children > li.bypostauthor,
.commentlist .children li.comment {
  background: white;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
    /* keep border-right, it indicates a jQuery UI column resize handle */
}

/* But do indicate posts py the author, in some manner. */
.bypostauthor > article > .comment-meta {
  background-color: #d8d8d8;
}

/* Make root thread reply left positioned .avatar visible, at .dw-depth-1 */
.dw-p {
  overflow: visible;
}
/* Add space for root thread reply .avatar */
.dw-pri .dw-hor > .dw-res > li  {
  margin-left: 100px;
}

/* Place other avatar images relative article.dw-p, not .dw-p.parent() */
.dw-p {
  position: relative;
}
.dw-pri :not(.dw-depth-1) > .dw-p > .dw-p-hd .avatar { /* skips root thread reply .avatar */
  left: 0;
  top: 0;
}

.dw-p-bd {
  float: none; /* There're no .dw-p-bd-blk children to wrap (they'd float left) */
}
